@model PieListViewModel

<h1>@Model.CurrentCategory</h1>

<div>

    @foreach (var pie in Model.Pies)
    {
        <div >
            <div >
               
                <div >
                    <h4 >
                    </h4>

                    <div >
                        <h2 >
                            <a>@pie.Name</a>
                        </h2>
                        <h5>
                            @pie.Price.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }

</div>