@model IEnumerable<Pie>
<html>
<body>
    <div>
        @foreach (var pie in Model)
        {
            <div>
                <h2>@pie.Name</h2>
                <h3>@pie.Price.ToString("c")</h3>
                <h4>@pie.Category.CategoryName</h4>
            </div>      }
    </div>
</body>
A Strongly-typed View
</html>